<!DOCTYPE html>
<html>
    <head>
        <title>ES Prototype</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    </head>
    <body>

        <div class="container">
            <div class="panel">
                <div class="panel-body">
                    <h1>PBS ElasticSearch</h1>
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="/" method="get">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            Go!
                                        </button> </span>
                                    <input type="text" class="form-control" name="q" placeholder="Search for...">
                                </div><!-- /input-group -->
                            </form>
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </div>
            </div>

            {% if not no_query %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% for filter in filters %}
                            <div>
                                <h4>Filter by {{ filter.display }}:</h4>
                                <div class="list-group">
                                    {% for bucket in filter.buckets %}
                                    <a href="{{ bucket.url }}" class="list-group-item{% if bucket.disabled %} disabled{% endif %}{% if bucket.active %} active{% endif %}">{{ bucket.display }} <span class="badge">{{ bucket.count }}</span> {% if bucket.active %}<span class="badge glyphicon glyphicon-remove"> </span>{% endif %} </a>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>{{ total }} search results for &quot;{{ request.args.q }}&quot;</h2>
                            <hr/>
                            <ul class="media-list">
                                {% for entry in results %}
                                <li class="media">
                                    <div class="media-left">
                                        <a href="http://video.pbs.org/video/{{ entry._source.id }}" target="_blank"><img class="media-object" src="{{ entry._source.images.mezzanine }}.fit.160x90.jpg" alt="Title"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="http://video.pbs.org/video/{{ entry._source.id }}" target="_blank">{{ (entry.inner_hits.program.hits.hits|first)._source.title }} | {{ entry._source.title }}</a></h4>
                                        {{ entry._source.description }}
                                        <table class="table">
                                            <tr>
                                                <td>Duration: {{ entry._source.duration }}</td>
                                                <td>Video score: {{ entry._score }}</td>
                                                <td>Program score: {{ (entry.inner_hits.program.hits.hits|first)._score }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <nav>
                        <ul class="pager">
                            <li{% if prev_page == '#' %} class="disabled"{% endif %}>
                                <a href="{{ prev_page }}">Previous</a>
                            </li>
                            <li{% if next_page == '#' %} class="disabled"{% endif %}>
                                <a href="{{ next_page }}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            {% endif %}
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>